# Docker.
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  - master

resources:
- repo: self


variables:
  - group: 'DevSecOpsVariables'
  # - group: 'SecurityKeyVault' #Module-2 - Exercise 4: CTRL + K, CTRL + U to uncomment

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:

    #Module-4 - Exercise 3
    - task: WhiteSource Bolt@20
      inputs:
        cwd: 'src'
