# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  - master
  
resources:
  - repo: self
  
  
variables:
    - group: 'DevSecOpsVariables'
    #- group: 'SecurityKeyVault'
  
stages:
  - stage: Build
    displayName: Build image
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: DockerCompose@0
        displayName: 'Run services'
        inputs:
          azureSubscription: $(Subscription)
          containerregistrytype: Azure Container Registry
          workingDirectory: $(System.DefaultWorkingDirectory)
          azureContainerRegistry: '{"loginServer":"$(ACR)", "id" : "/subscriptions/$(Subscription)/resourceGroups/$(resourcegroupe)/providers/Microsoft.ContainerRegistry/registries/$(registry)"}'
          dockerComposeFile: 'docker-compose.ci.build.yml'
          action: 'Run services'
          projectName: $(Build.Repository.Name)
          qualifyImageNames: true
          detached: false
  
      - task: DockerCompose@0
        displayName: 'Build services'
        inputs:
          azureSubscription: $(Subscription)
          containerregistrytype: Azure Container Registry
          workingDirectory: $(System.DefaultWorkingDirectory)
          azureContainerRegistry: '{"loginServer":"$(ACR)", "id" : "/subscriptions/$(Subscription)/resourceGroups/$(resourcegroupe)/providers/Microsoft.ContainerRegistry/registries/$(registry)"}'
          dockerComposeFile: 'docker-compose.yml'
          dockerComposeFileArgs: 'DOCKER_BUILD_SOURCE='
          action: 'Build services'
          projectName: $(Build.Repository.Name)
          qualifyImageNames: true
          additionalImageTags: '$(Build.BuildId)'
  
      - task: DockerCompose@0
        displayName: 'Push services'
        inputs:
          azureSubscription: $(Subscription)
          containerregistrytype: Azure Container Registry
          workingDirectory: $(System.DefaultWorkingDirectory)
          azureContainerRegistry: '{"loginServer":"$(ACR)", "id" : "/subscriptions/$(Subscription)/resourceGroups/$(resourcegroupe)/providers/Microsoft.ContainerRegistry/registries/$(registry)"}'
          dockerComposeFile: 'docker-compose.yml'
          dockerComposeFileArgs: 'DOCKER_BUILD_SOURCE='
          action: 'Push services'
          projectName: $(Build.Repository.Name)
          qualifyImageNames: true
          additionalImageTags: '$(Build.BuildId)'
  
      - task: DockerCompose@0
        displayName: 'Lock services'
        inputs:
          azureSubscription: $(Subscription)
          containerregistrytype: Azure Container Registry
          workingDirectory: $(System.DefaultWorkingDirectory)
          azureContainerRegistry: '{"loginServer":"$(ACR)", "id" : "/subscriptions/$(Subscription)/resourceGroups/$(resourcegroupe)/providers/Microsoft.ContainerRegistry/registries/$(registry)"}'
          dockerComposeFile: 'docker-compose.yml'
          dockerComposeFileArgs: 'DOCKER_BUILD_SOURCE='
          projectName: $(Build.Repository.Name)
          qualifyImageNames: true
          action: 'Lock services'
  
      - task: CopyFiles@2
        displayName: 'Copy Files'
        inputs:
          Contents: |
            **/mhc-aks.yaml
            **/*.dacpac
            
          TargetFolder: '$(Build.ArtifactStagingDirectory)'
  
      - task: PublishBuildArtifacts@1
        displayName: 'Publish Artifact'
        inputs:
          ArtifactName: deploy
  
  - stage: Deploy-To-Dev
    displayName: Deploy to Development
    dependsOn: Build
    jobs:
    - deployment: Database
      displayName: DB deployment
      pool:
        vmImage: windows-latest
      environment: 'MyClinicSecOps-Dev'
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self 
            - task: SqlAzureDacpacDeployment@1
              displayName: 'Execute Azure SQL : DacpacTask'
              inputs:
                azureSubscription: $(Subscription)
                ServerName: '$(SQLserver)'
                DatabaseName: '$(DatabaseName)'
                SqlUsername: ' $(SQLuser)'
                SqlPassword: '$(SQLpassword)'
                DacpacFile: '$(System.DefaultWorkingDirectory)/**/*.dacpac'
                IpDetectionMethod: IPAddressRange
                StartIpAddress: 0.0.0.0
                EndIpAddress: 255.255.255.255
  
    - deployment: WebApp
      displayName: WebApp for Containers
      pool:
        vmImage: ubuntu-latest
      environment: 'MyClinicSecOps-Dev'
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self 
            - task: AzureWebAppContainer@1
              displayName: 'Azure Web App on Container Deploy: $(AppDemo)'
              inputs:
                azureSubscription: $(Subscription)
                appName: '$(AppDemo)'
                containers: '$(ACRImageName)'

## Uncomment to enable Prod Environment
# - stage: Deploy-To-Prod
#   displayName: Deploy to Production
#   dependsOn: 
#   - Build
#   - Deploy-To-Dev
#   jobs:
#   - deployment: Database
#     displayName: DB deployment
#     pool:
#       vmImage: windows-latest
#     environment: 'MyClinicSecOps-Prod'
#     strategy:
#       runOnce:
#         deploy:
#           steps:
#           - checkout: self 
#           - task: SqlAzureDacpacDeployment@1
#             displayName: 'Execute Azure SQL : DacpacTask'
#             inputs:
#               azureSubscription: $(Subscription)
#               ServerName: '$(SQLserver)'
#               DatabaseName: '$(DatabaseName)'
#               SqlUsername: ' $(SQLuser)'
#               SqlPassword: '$(SQLpassword)'
#               DacpacFile: '$(System.DefaultWorkingDirectory)/**/*.dacpac'
#               IpDetectionMethod: IPAddressRange
#               StartIpAddress: 0.0.0.0
#               EndIpAddress: 255.255.255.255

#   - deployment: WebApp
#     displayName: WebApp for Containers
#     pool:
#       vmImage: ubuntu-latest
#     environment: 'MyClinicSecOps-Dev'
#     strategy:
#       runOnce:
#         deploy:
#           steps:
#           - checkout: self 
#           - task: AzureWebAppContainer@1
#             displayName: 'Azure Web App on Container Deploy: $(AppDemo)'
#             inputs:
#               azureSubscription: $(Subscription)
#               appName: '$(AppDemo)'
#               containers: '$(ACRImageName)'