trigger: none 

resources:
- repo: self

variables:
- group: DevSecOps-Variables

stages:
- stage: Build  
  displayName: Build and push stage  
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: 'Default'
    steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'Azure-Service-Connection-Development'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |
          echo 'listing azure resources'
          
          az account show 
          
          az resource list --subscription $(az account show --query 'id' --output tsv)

          az account set --subscription $(az account show --query 'id' --output tsv)
          
          az acr build --image $(ContainerRegistry).azurecr.io/devsecops:$(Build.BuildId) --no-logs --registry $(ContainerRegistry) --file Dockerfile .        
        addSpnToEnvironment: true

- stage: Deploy_Dev
  displayName: Deploy container to WebApp in development
  dependsOn: Build
  jobs:
  - deployment: Deploy_to_Dev
    displayName: Deployment to development environment
    environment: Development
    pool:
      name: 'Default'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureAppServiceSettings@1
            inputs:
              azureSubscription: 'Azure-Service-Connection-Development'
              appName: $(DevAppName)
              resourceGroupName: $(DevResourceGroup)
              generalSettings: |
                [{
                     "linuxFxVersion": "DOCKER|$(ContainerRegistry).azurecr.io/devsecops:$(Build.BuildId)"
                 }
                ]
          - task: AzureAppServiceManage@0
            inputs:
              azureSubscription: 'Azure-Service-Connection-Development'
              Action: 'Restart Azure App Service'
              WebAppName: $(DevAppName)

- stage: Deploy_Prod
  displayName: Deploy container to WebApp in production
  dependsOn: Deploy_Dev
  jobs:
  - deployment: Deploy_to_Prod
    displayName: Deployment to production environment
    environment: Production
    pool:
      name: 'Default'
    strategy:     
      runOnce:
        deploy:
          steps:
          - task: AzureAppServiceSettings@1
            inputs:
              azureSubscription: 'Azure-Service-Connection-Production'
              appName: '$(ProdAppName)'
              resourceGroupName: '$(ProdResourceGroup)'
              generalSettings: |
                [{
                     "linuxFxVersion": "DOCKER|$(ContainerRegistry).azurecr.io/devsecops:$(Build.BuildId)"
                 }
                ]
          - task: AzureAppServiceManage@0
            inputs:
              azureSubscription: 'Azure-Service-Connection-Production'
              Action: 'Restart Azure App Service'
              WebAppName: $(ProdAppName)
